/*Page de contact.*/
@media screen {

#contact div.core {
	z-index:-1;
	position:absolute;
	min-height:100%;
	padding-top:50px;
	top:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#contact .page {
	padding: 100px 80px 0px 60px;
}
div.contact {
	padding-bottom:100px;
	text-align:center;
	font-size: 1.1rem;
}
div.contact .info {
	display:inline-block;
	width:20%;
	min-width:200px;
	vertical-align:top;
	padding-left:10px;
	padding-right:10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
div.contact .info .logo {
	width :100%;
	height:175px;
	background-size:contain;
	background-repeat:no-repeat;
	background-position: center center;
}
div.contact .info.about .logo {background-image:url('../data/main/contact-about.svg');}
div.contact .info.address .logo {background-image:url('../data/main/contact-address.svg');}
div.contact .info.email .logo {background-image:url('../data/main/contact-email.svg');}
div.contact .info.phone .logo {background-image:url('../data/main/contact-phone.svg');}
div.contact .info.social .logo {background-image:url('../data/main/contact-social.svg');}
div.contact .info.about .logo:hover {background-image:url('../data/main/contact-about-gold.svg');}
div.contact .info.address .logo:hover {background-image:url('../data/main/contact-address-gold.svg');}
div.contact .info.email .logo:hover {background-image:url('../data/main/contact-email-gold.svg');}
div.contact .info.phone .logo:hover {background-image:url('../data/main/contact-phone-gold.svg');}
div.contact .info.social .logo:hover {background-image:url('../data/main/contact-social-gold.svg');}
div.contact .info .name {
	margin-top:10px;
	font-family: StrongFont;
	text-align:center;
}
div.contact .info .value {
	text-transform: uppercase;
	text-align:justify;
	text-align-last:center;
	-moz-text-align-last:center;
	/** dont-break-out **/
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* use this non-standard one: */
	word-break: break-word;
	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

}

@media screen and (max-width: 16in) {
#contact .page {
	padding: 50px 40px 0px 30px;
}
div.contact {
	padding-bottom:50px;
	font-size:0.80rem;
}
div.contact .info {
	padding-left:5px;
	padding-right:5px;
}
div.contact .info .logo {
	height:150px;
}
}